{{!-- Resume Summary Partial --}}
{{#if summary}}
<section class="section summary">
  <h2 class="section__title">Professional Summary</h2>
  <p class="summary__text">{{summary}}</p>
</section>
{{/if}}
